{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    {% spaceless %}
        <div class="control-group {% if errors|length > 0 %}error{% endif %}">
            {{ form_label(form, label|default(null)) }}
            <div class="controls">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
                {% if help is defined and help %}
                    <div class="help-block">{{ help }}</div>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block field_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <span class="help-inline">
                {% for error in errors %}
                    {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
                {% endfor %}
            </span>
        {% endif %}
    {% endspaceless %}
{% endblock field_errors %}

{% block form_label %}
    {% spaceless %}
        {% set label_attr = label_attr|merge({'class': 'control-label'}) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {% endspaceless %}
{% endblock form_label %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_prototype') }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}
            <div class="form-collection{{ form|length ? '' : ' hide' }}">
                {% for rows in form %}
                    {{ _self.collection_field(rows, allow_delete) }}
                {% endfor %}
            </div>
            {{ form_rest(form) }}
        </div>
        <a href="#" class="btn btn-info form-collection-add">Add</a>
    {% endspaceless %}
{% endblock collection_widget %}

{% block collection_prototype %}
    {{ _self.collection_field(prototype, allow_delete) }}
{% endblock collection_prototype %}

{% macro collection_field(rows, allow_delete) %}
    {% spaceless %}
        <div class="form-collection-element">
            {% for row in rows %}
                {{ form_row(row) }}
            {% endfor %}
            {% if allow_delete %}
                <div class="form-actions">
                    <a class="btn btn-danger remove" href="#">Delete</a>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endmacro %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in errors %}
                        <li>{{
                        error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                        }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block zenstruck_ajax_entity_widget %}
    {% spaceless %}
        <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock %}

{% block zenstruck_tunnel_entity_widget %}
    {% spaceless %}
        <div class="input-append zenstruck-tunnel-widget">
            <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
            <span class="uneditable-input zenstruck-tunnel-title">{{ title }}</span>
            {% if not required %}
                <a href="#" class="btn zenstruck-tunnel-clear"><b class="icon-remove"></b></a>
            {% endif %}
            <a href="#" class="btn zenstruck-tunnel-select"{% if callback %} data-callback="{{ callback }}"{% endif %}>{{ button_text|trans }}</a>
        </div>
    {% endspaceless %}
{% endblock %}